@import 'tailwindcss';
@import '@vendor/livewire/flux/dist/flux.css';

@source '@views';
@source '@vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '@vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '@vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'IBM Plex Sans', system-ui, sans-serif;
    --font-mono: 'IBM Plex Mono', monospace;
    --font-serif: 'Instrument Serif', serif;

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-lundflix: #f80;

    --color-accent: var(--color-white);
    --color-accent-content: var(--color-white);
    --color-accent-foreground: var(--color-neutral-800);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-field] [data-flux-label] {
    @apply mb-0 leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply ring-accent ring-offset-accent-foreground ring-2 ring-offset-2 outline-hidden;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

ui-toast-group {
    @apply mx-auto w-full max-w-screen-lg;
}

[data-flux-modal] > dialog:not([data-flux-flyout])::backdrop {
    background-color: transparent;
}

[data-flux-modal] > dialog[open]:not(:modal) {
    position: fixed;
    inset: 0;
    z-index: 30;
    height: fit-content;
}

[data-flux-header].modal-open-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 31;
}

@media (min-width: 768px) {
    [data-flux-header].modal-open-header {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        width: 100%;
        max-width: 768px;
    }
}

@utility drop-shadow-glow {
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.7)) drop-shadow(0 2px 6px rgb(0 0 0 / 0.4));
}

@utility scanlines {
    background:
        linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.03), rgba(0, 0, 255, 0.06));
    background-size:
        100% 1px,
        2px 100%;
}

@utility scanline {
    animation: scanline 20s linear infinite;
}

@keyframes scanline {
    0% {
        transform: translateY(100%);
    }
}

@utility flicker {
    animation: flicker 0.05s infinite linear;
}

@keyframes flicker {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.9;
    }
    20% {
        opacity: 0.99;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.99;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0.9;
    }
    80% {
        opacity: 0.99;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}

.search-input[data-flux-control] {
    @apply bg-transparent text-base ring-0 ring-offset-0 outline-hidden;
}

.search-input[data-flux-control]:focus {
    @apply ring-0 ring-offset-0 outline-hidden;
}

.search-bar [data-flux-select-button] {
    @apply h-14 rounded-none border-0 bg-white/5 text-sm text-zinc-400 shadow-none hover:bg-white/10;
}

.search-bar [data-flux-select-button]:focus {
    @apply ring-0 ring-offset-0 outline-hidden;
}

.search-bar [data-flux-select-button] span {
    @apply hidden sm:inline;
}

.search-bar [data-flux-select-button] > [data-flux-icon] {
    @apply hidden sm:block;
}

.search-bar [data-flux-select-button] div [data-flux-icon] {
    @apply sm:hidden;
}

.search-bar [data-flux-input] > .start-0 {
    @apply hidden sm:flex;
}

.search-bar .search-input[data-flux-control] {
    @apply ps-3 sm:ps-10;
}
